#slider{
	float:left;
	clear:both;
	width:100%;
	margin-bottom:30px;
	text-decoration: none;
}

.slider2{
	float:left;
	width:100%;
	margin:0 10px 15px 2px;
	position:relative;
}
.slider3{
	float:left;
	width:100%;
	margin:0 0px;
	height:149px;
	position:relative;
}
.slider2 img, .slider3 img{
	width:100%;
}
.slider3 p.opaci a{
	font-size:12px;
	margin-bottom:0;
}
.badg{
	position:absolute;
	float:left;
	background:$color-principal;
	z-index:3;
	top:0;
	padding:5px 30px;
	p{
		margin:0;
		a{
			color: $letras;
		}
	}
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; padding: 0; list-style: none;
}

.opaci {
	background-color: black;
	opacity: 0.5;
	bottom: -10px;
	color: $letras;
	font-size: 12px;
	line-height: 19px;
	padding: 2%;
	position: absolute;
	width: 100%;
	text-align:left;
}
p.opaci{
	margin-top:10px;
	color:#ddd;
	a{
		font-size:14px;
		color:$letras;
		margin-bottom:10px;
		display:block;
		&::hover{
			text-decoration:underline;
		}

	}
}

.flexslider {
	margin: 0;
	padding: 0;
	.slides > li {
		display: none;
		-webkit-backface-visibility: hidden;
		img {
			width: 100%;
			display: block;
		}
	}
}


.flex-pauseplay span {
	text-transform: capitalize;
}

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;}
	html[xmlns] .slides {
		display: block;
	}
	* html .slides {
		height: 1%;
	}

	.no-js .slides > li:first-child {
		display: block;
	}

	.flexslider {
		margin: 0 0 0 0;
		background: $letras;
		width:100%;
		position: relative;
		zoom: 1;
	}
	.flex-viewport {
		max-height: 2000px;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	.loading .flex-viewport {
		max-height: 300px;
	}
	.flexslider .slides {
		zoom: 1;
	}

	.carousel li {
		margin-right: 5px
	}

	.flex-direction-nav {
		*height: 0;
		a {
			width: 37px;
			height: 37px;
			margin: -20px 0 0;
			display: block;
			background:$color-principal url(../img/icon/slider-nav.png) no-repeat 0 0;
			position: absolute; top: 50%;
			cursor: pointer;
			text-indent: -9999px;
			opacity: 0;
			-webkit-transition: all .3s ease;
			background-position:12px 8px;
		}
	}

	.flex-direction-nav .flex-next {
		background-position: 100% 0;
		right: 0px;
		background-position:-22px 8px;
	}
	.flex-direction-nav .flex-prev {
		left: 0px;
		background-position:12px 8px;
	}
	.flexslider:hover .flex-next {
		opacity: 0.8; right: 5px;
	}
	.flexslider:hover .flex-prev {
		opacity: 0.8;
		left: 5px;
	}
	.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
		opacity: 1;
		background-color:$color-principal;
	}
	.flex-direction-nav .flex-disabled {
		opacity: .3!important;
		filter:alpha(opacity=30);
		cursor: default;
	}
///////////////////////////////////////////////////////////////////

.outertight{
	width:300px;
	margin-right:20px;
	float:left;
	margin-top:10px;
	position:relative;
	img{
		max-width:300px;
	}
}
.outerwide{
	width:620px;
	float:left;
	position:relative;
}
li.m-r-no, div.m-r-no{
	margin-right:0;
}
.m-t-no{
	margin-top:0;
}

span.meta{
	font-size:12px;
	color:$color-principal;
	margin-bottom:10px;
	display:block;
}
h6.regular{
	font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
	margin-top:10px;
	font-weight:normal;
}
.navbar{
	width:100%;
	position:absolute;
	margin:-20px 0 0 0;

}
.prev{
	background-color:#333;
	width:19px;
	height:19px;
	display:block;
	float:right;
	margin:0 2px 0 0;
	span{
		width:19px;
		height:19px;
		background-image:url(../img/icon/slider-nav2.png);
		background-position: 5px 4px;
		background-repeat:no-repeat;
		float:left;
	}
}

.next{
	background-color:#333;
	width:19px;
	height:19px;
	display:block;
	float:right;
	&:hover, .prev:hover {
				background-color:$color-principal;
			}
			span{
				width:19px;
				height:19px;
				background:url(../img/icon/slider-nav2.png) no-repeat;
				background-position: -14px 4px;
				background-repeat:no-repeat;
				float:left;
			}
		}


		#carousel li:nth-last-child(4){
			border-bottom:none;
		}
		.minislide{
			list-style-type:none;
			margin:0;
			padding:0;
			li{
				float:left;
				margin:0;
			}
		}

		.navbar2{
			position:relative;
			z-index:10;
			a.prev{
				margin:-31% 0 0 0;
				float:left;
			}
			a.next{
				margin:-31% 0 0 0;
			}
		}
////////////////////////////////////////////////////////////////////////////
.breadcrumbs{
	border-bottom:1px solid #dbdbdb;
	& p{
		margin:0 0 5px 0;
		padding:0;
		& a{
			color:#696969;
		}
	}
}


.main-content{
	float:left;
	width:640px;
	margin-bottom:20px;
}
div.left-sidebar{
	float:right;
}
.full-width{
	float:left;
	width:100%;
	margin-bottom:20px;
}
h5.line{
	border-bottom:1px solid $color-principal;
	padding-bottom:8px;
	position:relative;
	margin-bottom:10px;
	text-transform:uppercase;
	>span{
		width:auto;
		border-bottom:4px solid $color-principal;
		padding-bottom:7px;
	}
}

.alignright{ float:right;  margin:0 0 10px 20px}
.alignleft{ float:left;  margin:0 20px 10px 0}
.floatleft{ float:left}
.floatright{ float:right}

.block{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
	& li{
		border-bottom:1px solid #dbdbdb;
		float:left;
		width:100%;
		padding:0 0 10px 0;
		margin:0 0 20px 0;

		&:nth-last-child(1){
			border-bottom:none;
		}
	}
}


.block {
	p{
		margin-bottom:10px;
	}
	span{
		color:$color-principal;
		display:block;
		margin-bottom:5px;
		font-size:11px;
	}
	a{
		color:#696969;
		& a:hover{
			text-decoration:underline;
		}
	}
}



.block span.rating{
	background:url(../img/icon/stars2.png) no-repeat;
	width:53px;
	height:9px;
	position:relative;
	display:block;
	float:left;
	cursor:pointer;
	span{
		background:url(../img/icon/stars.png) no-repeat;
		height:9px;
	}
}

.wnews{
	margin:10px 0 0 0;
	padding:0;
	list-style-type:none;
	width:620px;
	float:left;
	li{
		float:left;
		width:620px;
		margin:0 0 0 0;

		img{
			margin-bottom:10px;
		}
		h6{
			margin-top:0;
		}
	}
}



.block2{
	float:left;
	width:100%;
	margin:20px 0 0 0;
	padding:0;
	list-style-type:none;
	li{
		border-bottom:1px solid #dbdbdb;
		float:left;
		width:300px;
		padding:0 0 10px 0;
		margin:0 20px 20px 0;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				li:nth-child(2n){
					margin-right:0;
				}
			}
		}

		.block2 li img{
			float:left;
			& p{
				margin-bottom:10px;
			}
			& span{
				color:$color-principal;
				display:block;
				margin-bottom:5px;
				font-size:11px;
			}
		}


		.block2 a{
			color:#696969;
			& a:hover{
				text-decoration:underline;
			}
		}

.container{
	width:960px;
	margin:0 auto;
	clear:both;
	display:block;
	position:relative;
}
.column {
	width:940px;
	position:relative;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
	float:left;
}

.column-one-half,
.column-one-third,
.column-one-fourth,
.column-two-third,
.column-three-fourth {
	float:left;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}
.last{
	margin-right:0;
}
.first{
	margin-left:0;
}

.column-one-half{
	width:460px;
}
.column-one-third{
	width:300px;
}
.column-one-fourth{
	width:220px;
}

.column-two-third{
	width: 620px;
}
.column-three-fourth {
	width:700px;
}
